<template name="bookDetail">
  <div class="nav-back">
		<a href="" class="go-back"></a>
    <span class="nav-back-title">{{title}}</span>
	</div>
	
	<div class="main-container main-container-center">
		<div class="main-container-window">
			<div class="main-container-window-divider">
        <div class="book-details-image-container"><img src="/images/{{cover}}" alt="" /></div>
				
				<div class="book-details-info">
				
          <p class="book-details-title">{{title}}</p>
					<span class="small-title">author</span>
          <p class="book-details-sub">{{author}}</p>
					<!--<span class="small-title">donator</span>
					<p class="book-details-sub">Daniel H. Pink</p>-->
				
				</div>
				
			</div>
			
			<div class="book-details-data">
				<ul>
					<li>
						<span class="small-title">publisher</span>
						<p class="book-details-sub">--</p>
					</li>
					<li>
						<span class="small-title">publication date</span>
						<p class="book-details-sub">--</p>
					</li>
					<li>
						<span class="small-title">pages</span>
						<p class="book-details-sub">--</p>
					</li>
				</ul>
			</div>
			
			<div class="main-container-window-divider">
				<span class="small-title">about this book</span>
				<p class="book-details-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum velit odio, in lacinia metus consequat ac. Vestibulum euismod elit sed arcu tristique efficitur. Etiam fermentum dolor in lacinia fermentum. In suscipit velit sit amet ultricies suscipit. Nam imperdiet pulvinar massa, at sodales sapien efficitur id. Aliquam tempus mollis est et maximus. Duis tincidunt feugiat nisi, vitae ultrices est convallis ut. Nam vitae venenatis elit. Donec leo est, facilisis eu imperdiet sit amet, aliquam ut elit. Morbi vehicula massa a ex rhoncus, sit amet luctus velit malesuada. In dignissim luctus quam, in dignissim urna auctor ut. Pellentesque vel magna dui.

Phasellus consequat tempor turpis, vel euismod lorem tincidunt malesuada. Donec dapibus placerat molestie. Maecenas at tortor mollis, condimentum velit non, sagittis ipsum. Aenean vulputate dapibus magna vel pulvinar. Donec ex neque, finibus nec luctus nec, finibus eu ex. Morbi mauris est, vulputate quis lacus vitae, lacinia rhoncus leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
			</div>
			
		</div>
	</div>
</template>
