<template name="header">
  <header id="head">
		
		<div class="mobile-menu"></div>
		<div class="logo"><img src="./images/logo.svg" alt="" /></div>
		<div class="search-mobile"></div>
		<div class="search">
			<div class="search-icon"></div>
			<input type="text" name="" value="" placeholder="Search a book"/>
		</div>
	</header>
	
	
	
	<nav class="main-nav">
		<div class="nav-left">
			<ul class="main-nav-left">
				<li><a href="index_list.html" class="main-nav-active">all books</a></li>
				<li><a href="index_wish.html" class="main-nav-unactive">whish list</a></li>
				<li><a href="index_own.html" class="main-nav-unactive">books i own</a></li>
				<!--<li><a href="index_settings.html" class="main-nav-unactive">settings</a></li>-->
			</ul>
		</div>
		<!--<div class="nav-left">
			<ul>
				<li>sort by</li>
			</ul>
		</div>-->
		<div class="nav-right">
			<ul>
				<!--<li><a href="add-book.html" class="main-nav-add-book"></a></li>-->
				<li><a href="add-book.html" class="main-nav-add-book"></a></li>
				<li><a href="settings.html" class="main-nav-settings"></a></li>
				
			</ul>
		</div>
	</nav>
</template>
