<template name="home">
  <div class="main-container">
		<section class="books-shelf">
			<ul>
				
				
				<li>
				<div class="books-shelf-content">
					<div class="books-shelf-image-container">
					<a href="book-details1.html">
						<div class="books-img">
							<img src="images/mandela.large.jpg" alt="Two Scoops of Django: Best Practices For Django 1.6"/>
						</div>
					</a>
					</div>
				</div>	
				<div class="book-shelf-info">
					<p class="book-shelf-title">Mandela</p>
					<p class="book-shelf-author">Martin Meredith</p>
					<!--<div class="books-shelf-comments">
						<a href="">
							<span class="books-shelf-comments-icon"></span>
							<span class="books-shelf-comments-number">567</span>
						</a>
					</div>-->
					<div class="books-shelf-borrow">borrow</div>
				</div>	
				</li>
				
				<li>
				<div class="books-shelf-content">
					<div class="books-shelf-image-container">
					<a href="book-details.html">
						<div class="books-img">
							<img src="images/soyouvebeenshamedcover.png" alt="Two Scoops of Django: Best Practices For Django 1.6"/>
						</div>
					</a>
					</div>
				</div>	
				<div class="book-shelf-info">
					<p class="book-shelf-title">The User Experience Team of One: A Research and Design Survival Guide</p>
					<p class="book-shelf-author">Leah Buley</p>
					<!--<div class="books-shelf-comments">
						<a href="">
							<span class="books-shelf-comments-icon"></span>
							<span class="books-shelf-comments-number">567</span>
						</a>
					</div>-->
					<div class="books-shelf-return">Return</div>
				</div>	
				</li>
				
				<li>
				<div class="books-shelf-content">
					<div class="books-shelf-image-container">
					<a href="book-details.html">
						<div class="books-img">
							<img src="images/71aTsq1zJrL.jpg" alt="Two Scoops of Django: Best Practices For Django 1.6"/>
						</div>
					</a>
					</div>
				</div>	
				<div class="book-shelf-info">
					<p class="book-shelf-title">The User Experience Team of One: A Research and Design Survival Guide</p>
					<p class="book-shelf-author">Leah Buley</p>
					<!--<div class="books-shelf-comments">
						<a href="">
							<span class="books-shelf-comments-icon"></span>
							<span class="books-shelf-comments-number">567</span>
						</a>
					</div>-->
					<div class="books-shelf-return">Return</div>
				</div>	
				</li>
				
				<li>
				<div class="books-shelf-content">
					<div class="books-shelf-image-container">
					<a href="book-details2.html">
						<div class="books-img">
							<span class="books-new"></span>
							<img src="images/41DJtQp8RoL._SX400_BO1,204,203,200_.jpg" alt="Two Scoops of Django: Best Practices For Django 1.6"/>
						</div>
					</a>
					</div>
				</div>	
				<div class="book-shelf-info">
					<p class="book-shelf-title">Javascript & Jquery</p>
					<p class="book-shelf-author">David Flanagan</p>
					<div class="books-shelf-borrow">Borrow</div>
				</div>	
				</li>
				
				<li>
				<div class="books-shelf-content">
					<div class="books-shelf-image-container">
					<a href="">
						<div class="books-img">
							<img src="images/41JWTd4PCWL._SX331_BO1,204,203,200_.jpg" alt="Two Scoops of Django: Best Practices For Django 1.6"/>
						</div>
					</a>
					</div>
				</div>	
				<div class="book-shelf-info">
					<p class="book-shelf-title">Lean UX: Applying Lean Principles to Improve User Experience</p>
					<p class="book-shelf-author">Jeff Gothelf</p>
					<div class="books-shelf-borrow">Borrow</div>
				</div>	
				</li>
				
				<li>
				<div class="books-shelf-content">
					<div class="books-shelf-image-container">
					<a href="">
						<div class="books-img">
							<img src="images/41MfFFscyrL._SX385_BO1,204,203,200_.jpg" alt="Two Scoops of Django: Best Practices For Django 1.6"/>
						</div>
					</a>
					</div>
				</div>	
				<div class="book-shelf-info">
					<p class="book-shelf-title">Logo Design Love: A Guide to Creating Iconic Brand Identities, 2nd Edition</p>
					<p class="book-shelf-author">David Airey</p>
					<div class="books-shelf-borrow">Borrow</div>
				</div>	
				</li>
				
				<li>
				<div class="books-shelf-content">
					<div class="books-shelf-image-container">
					<a href="">
						<div class="books-img">
							<span class="books-new"></span>
							<img src="images/41nw+H70zjL._SX331_BO1,204,203,200_.jpg" alt="Two Scoops of Django: Best Practices For Django 1.6"/>
						</div>
					</a>
					</div>
				</div>	
				<div class="book-shelf-info">
					<p class="book-shelf-title">The Lean Startup: In-Depth Summary</p>
					<p class="book-shelf-author">Eric Ries</p>
					<div class="books-shelf-borrow">Borrow</div>
				</div>	
				</li>
				
				<li>
				<div class="books-shelf-content">
					<div class="books-shelf-image-container">
					<a href="">
						<div class="books-img">
							<img src="images/51B9gv--ogL._SX376_BO1,204,203,200_.jpg" alt="Two Scoops of Django: Best Practices For Django 1.6"/>
						</div>
					</a>
					</div>
				</div>	
				<div class="book-shelf-info">
					<p class="book-shelf-title">AngularJS: Up and Running: Enhanced Productivity with Structured Web Apps</p>
					<p class="book-shelf-author">Shyam Seshadri and Brad Green</p>
					<div class="books-shelf-return">Return</div>
				</div>	
				</li>
				
				<li>
				<div class="books-shelf-content">
					<div class="books-shelf-image-container">
					<a href="">
						<div class="books-img">
							<span class="books-new"></span>
							<img src="images/51BfQ4SFY9L._SX358_BO1,204,203,200_.jpg" alt="Two Scoops of Django: Best Practices For Django 1.6"/>
						</div>
					</a>
					</div>
				</div>	
				<div class="book-shelf-info">
					<p class="book-shelf-title">Know Your Onions - Graphic Design: How to Think Like a Creative, Act like a Businessman and Design Like a God</p>
					<p class="book-shelf-author">Drew de Soto</p>
					<div class="books-shelf-borrow">Borrow</div>
				</div>	
				</li>
				
				<li>
				<div class="books-shelf-content">
					<div class="books-shelf-image-container">
					<a href="">
						<div class="books-img">
							<img src="images/41AbJ3ziHcL._SX321_BO1,204,203,200_.jpg" alt="Two Scoops of Django: Best Practices For Django 1.6"/>
						</div>
					</a>
					</div>
				</div>	
				<div class="book-shelf-info">
					<p class="book-shelf-title">Responsive Web Design</p>
					<p class="book-shelf-author">Ethan Marcotte</p>
					<div class="books-shelf-return">Return</div>
				</div>	
				</li>
				
				<li>
				<div class="books-shelf-content">
					<div class="books-shelf-image-container">
					<a href="">
						<div class="books-img">
							<span class="books-new"></span>
							<img src="images/51HKvWTPEPL._SX404_BO1,204,203,200_.jpg" alt="Two Scoops of Django: Best Practices For Django 1.6"/>
						</div>
					</a>
					</div>
				</div>	
				<div class="book-shelf-info">
					<p class="book-shelf-title">Two Scoops of Django: Best Practices For Django 1.6</p>
					<p class="book-shelf-author">Daniel Greenfeld and Audrey Roy</p>
					<div class="books-shelf-borrow">Borrow</div>
				</div>	
				</li>
				
				<li>
				<div class="books-shelf-content">
					<div class="books-shelf-image-container">
					<a href="">
						<div class="books-img">
							<img src="images/51ycFmfAeKL._SX379_BO1,204,203,200_.jpg" alt="Two Scoops of Django: Best Practices For Django 1.6"/>
						</div>
					</a>
					</div>
				</div>	
				<div class="book-shelf-info">
					<p class="book-shelf-title">Learning Python, 5th Edition</p>
					<p class="book-shelf-author">Mark Lutz </p>
					<div class="books-shelf-borrow">Borrow</div>
				</div>	
				</li>
				
				<li>
				<div class="books-shelf-content">
					<div class="books-shelf-image-container">
					<a href="">
						<div class="books-img">
							<img src="images/41K27gRbYmL._SX396_BO1,204,203,200_.jpg" alt="Two Scoops of Django: Best Practices For Django 1.6"/>
						</div>
					</a>
					</div>
				</div>	
				<div class="book-shelf-info">
					<p class="book-shelf-title">HTML and CSS: Design and Build Websites</p>
					<p class="book-shelf-author">Jon Duckett </p>
					<div class="books-shelf-borrow">Borrow</div>
				</div>	
				</li>
				
				<li>
				<div class="books-shelf-content">
					<div class="books-shelf-image-container">
					<a href="">
						<div class="books-img">
							<img src="images/51Dh5aGJAWL._SX327_BO1,204,203,200_.jpg" alt="Two Scoops of Django: Best Practices For Django 1.6"/>
						</div>
					</a>
					</div>
				</div>	
				<div class="book-shelf-info">
					<p class="book-shelf-title">The Great Divide: Unequal Societies and What We Can Do About Them</p>
					<p class="book-shelf-author">Joseph E. Stiglitz</p>
					<div class="books-shelf-borrow">Borrow</div>
				</div>	
				</li>
				
				<li>
				<div class="books-shelf-content">
					<div class="books-shelf-image-container">
					<a href="">
						<div class="books-img">
							<span class="books-new"></span>
							<img src="images/61a6UMurDTL._SX328_BO1,204,203,200_.jpg" alt="Two Scoops of Django: Best Practices For Django 1.6"/>
						</div>
					</a>
					</div>
				</div>	
				<div class="book-shelf-info">
					<p class="book-shelf-title">Brand Thinking and Other Noble Pursuits</p>
					<p class="book-shelf-author">Debbie Millman</p>
					<div class="books-shelf-borrow">Borrow</div>
				</div>	
				</li>
				
				<li>
				<div class="books-shelf-content">
					<div class="books-shelf-image-container">
					<a href="">
						<div class="books-img">
							<img src="images/71tHm-lfBzL.jpg" alt="Two Scoops of Django: Best Practices For Django 1.6"/>
						</div>
					</a>
					</div>
				</div>	
				<div class="book-shelf-info">
					<p class="book-shelf-title">100 Things Every Designer Needs to Know About People</p>
					<p class="book-shelf-author">Susan Weinschenk</p>
					<div class="books-shelf-return">Return</div>
				</div>	
				</li>
				
				<li>
				<div class="books-shelf-content">
					<div class="books-shelf-image-container">
					<a href="">
						<div class="books-img">
							<img src="images/512Vpe7COkL._SX324_BO1,204,203,200_.jpg" alt="Two Scoops of Django: Best Practices For Django 1.6"/>
						</div>
					</a>
					</div>
				</div>	
				<div class="book-shelf-info">
					<p class="book-shelf-title">Tales from Both Sides of the Brain: A Life in Neuroscience</p>
					<p class="book-shelf-author">Michael S. Gazzaniga</p>
					<div class="books-shelf-return">Return</div>
				</div>	
				</li>
				
				<li>
				<div class="books-shelf-content">
					<div class="books-shelf-image-container">
					<a href="">
						<div class="books-img">
							<span class="books-new"></span>
							<img src="images/61tbi3K7CxL._SX332_BO1,204,203,200_.jpg" alt="Two Scoops of Django: Best Practices For Django 1.6"/>
						</div>
					</a>
					</div>
				</div>	
				<div class="book-shelf-info">
					<p class="book-shelf-title">Burn Your Portfolio: Stuff they don't teach you in design school, but should</p>
					<p class="book-shelf-author">Michael Janda</p>
					<div class="books-shelf-borrow">Borrow</div>
				</div>	
				</li>
				
				<li>
				<div class="books-shelf-content">
					<div class="books-shelf-image-container">
					<a href="">
						<div class="books-img">
							<img src="images/41W9ELABmwL._SX332_BO1,204,203,200_.jpg" alt="Two Scoops of Django: Best Practices For Django 1.6"/>
						</div>
					</a>
					</div>
				</div>	
				<div class="book-shelf-info">
					<p class="book-shelf-title">The Economics of Inequality</p>
					<p class="book-shelf-author">Thomas Piketty</p>
					<div class="books-shelf-borrow">Borrow</div>
				</div>	
				</li>
				
				<li>
				<div class="books-shelf-content">
					<div class="books-shelf-image-container">
					<a href="">
						<div class="books-img">
							<span class="books-new"></span>
							<img src="images/514xUTUlGwL._SX408_BO1,204,203,200_.jpg" alt="Two Scoops of Django: Best Practices For Django 1.6"/>
						</div>
					</a>
					</div>
				</div>	
				<div class="book-shelf-info">
					<p class="book-shelf-title">CSS Secrets: Better Solutions to Everyday Web Design Problems</p>
					<p class="book-shelf-author">Lea Verou</p>
					<div class="books-shelf-borrow">Borrow</div>
				</div>	
				</li>
				
				<li>
				<div class="books-shelf-content">
					<div class="books-shelf-image-container">
					<a href="">
						<div class="books-img">
							<span class="books-new"></span>
							<img src="images/in_defense_of_thomas_jefferson.large.jpg" alt="Two Scoops of Django: Best Practices For Django 1.6"/>
						</div>
					</a>
					</div>
				</div>	
				<div class="book-shelf-info">
					<p class="book-shelf-title">In Defense Of Thomas Jefferson</p>
					<p class="book-shelf-author">William G. Hyland Jr.</p>
					<div class="books-shelf-borrow">Borrow</div>
				</div>	
				</li>
				
				<li>
				<div class="books-shelf-content">
					<div class="books-shelf-image-container">
					<a href="">
						<div class="books-img">
							<img src="images/dangerous_frames.large.jpg" alt="Two Scoops of Django: Best Practices For Django 1.6"/>
						</div>
					</a>
					</div>
				</div>	
				<div class="book-shelf-info">
					<p class="book-shelf-title">Dangerous Frames</p>
					<p class="book-shelf-author">Nicholas J. G. Winter</p>
					<div class="books-shelf-borrow">Borrow</div>
				</div>	
				</li>
				
			</ul>
		</section><!--books-shelf-->	
	</div>  
</template>
